<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Matt Makai</title>
  <meta name="description" content="I am Matt Makai.">
  <meta name="author" content="Matthew Makai">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/mm.css" />
  <!-- end CSS-->

  <script src="/js/modernizr-2.0.6.min.js"></script>
</head>

<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <a href="/" class="brand">Matt Makai</a>
        <ul class="nav">
          <li><a href="/">Blog</a></li>
          <li><a href="/pages/presentations.html">Presentations</a></li>
          <li><a href="/work.html">Work</a></li>
          <li class="active"><a href="/about.html">About</a></li>
          <li><a href="http://github.com/makaimc/">Code (github.com)</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div style="background-image: url('/img/gradient-down-transparent-blue.png'); background-repeat: repeat-x; height: 600px;"> 
  </div>
  <div class="container">
    <div class="hero-unit">
      <div class="row">
        <div class="span4">
          <ul class="media-grid">
            <li>
              <a href="/about.html"><img src="/img/mm-square-small.png" width=150 height=150 class="thumbnail"/></a>
            </li>
          </ul>
        </div>
        <div class="span10">
          <h1 class="hello-text">Matt Makai</h1>
          <br/>
          <p class="slight-left-margin">
            I work for
            <a href="http://www.excella.com/">Excella Consulting</a> in 
            Arlington, Virginia building web applications for clients with 
            Python &amp; Django.
          </p>
<!--          <p class="slight-left-margin">  
            I also develop and run
            <a href="http://www.proofdriven.com/">ProofDriven</a>, which
            creates financial reports to help software developers 
            prove technology upgrades are necessary.
          </p>
-->
          <div class="contact-me-section" style="margin: 15px 0 25px 0;">
            <h2 style="margin-bottom: 5px;">Social Sites</h2>
            <div class="row">
              <div class="span7">
                <a class="social-media-icon" href="http://twitter.com/makaimc"><img src="/img/social/twitter.png" /></a>
                <a class="social-media-icon" href="http://github.com/makaimc"><img src="/img/social/github.png" /></a>
                <a class="social-media-icon" href="http://www.linkedin.com/in/matthewmakai"><img src="/img/social/linkedin.png"></a>
                <a class="social-media-icon" href="http://www.facebook.com/matthew.makai"><img src="/img/social/facebook.png" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery-1.6.4.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="/js/plugins.js"></script>
  <script defer src="/js/script.js"></script>
  <!-- end scripts-->


  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UA-19910497-3'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
