<h1 class="hello-text">About Matt Makai</h1>
<p class="slight-left-margin">  
  I am currently traveling to thirty cities around the United States in five
  months. I'm talking to tech startups, accelerators, and entrepreneurs to
  tell the stories of people using software to solve interesting problems.
  My project is self-funded and is called 
  <a href="http://www.codingacrossamerica.com/">Coding Across America</a>.
  Let's tell your story. Reach out to me on Twitter or at my email shown
  below.
</p>
<p class="slight-left-margin">
  I work remotely for
  <a href="http://www.excella.com/">Excella Consulting</a>, an Arlington,
  Virginia-based tech consultancy building web applications for 
  commercial, non-profit, and government clients. 
<p>
<p class="slight-left-margin">
  My primarily technology skill set is in the Python ecosystem. My secondary
  programming capabilities are in the JVM stack with Java and Clojure. I 
  also create actionable data visualizations, primarily 
  with <a href="http://d3js.org/">d3.js</a> and I'm beginning to
  get into data analysis with pandas, numpy, scipy, matplotlib, and
  iPython.

<h2>Email</h2>
<p class="slight-left-margin">
    <a href="mailto:matthew.makai@gmail.com">matthew.makai@gmail.com</a>
</p>

<h2>Freenode</h2>
<p class="slight-left-margin">
    mattmakai
</p>


<h2 style="margin-bottom: 5px;">Social Sites</h2>
<div class="row">
  <div class="span7">
    <a class="social-media-icon" href="http://twitter.com/mattmakai"><img src="/img/social/twitter.png" /></a>
    <a class="social-media-icon" href="http://github.com/makaimc"><img src="/img/social/github.png" /></a>
    <a class="social-media-icon" href="http://www.linkedin.com/in/matthewmakai"><img src="/img/social/linkedin.png"></a>
    <a class="social-media-icon" href="http://www.facebook.com/matthew.makai"><img src="/img/social/facebook.png" /></a>
</div>
