<h1 class="hello-text">About Matt Makai</h1>
<p class="slight-left-margin">
  I work for
  <a href="http://www.excella.com/">Excella Consulting</a> in 
  Arlington, Virginia building web applications for clients with 
  Python &amp; Django.
</p>
<p class="slight-left-margin">  
  I also develop and run
  <a href="http://www.proofdriven.com/">ProofDriven</a>, which
  creates financial reports to help software developers 
  prove technology upgrades are necessary.
</p>

<br/>

<h2 style="margin-bottom: 5px;">Social Sites</h2>
<div class="row">
  <div class="span7">
    <a class="social-media-icon" href="http://twitter.com/makaimc"><img src="/img/social/twitter.png" /></a>
    <a class="social-media-icon" href="http://github.com/makaimc"><img src="/img/social/github.png" /></a>
    <a class="social-media-icon" href="http://www.linkedin.com/in/matthewmakai"><img src="/img/social/linkedin.png"></a>
    <a class="social-media-icon" href="http://www.facebook.com/matthew.makai"><img src="/img/social/facebook.png" /></a>
</div>
