{% extends 'base.html' %}
{% block content %}
<div class="hero-unit">
  <h1 class="hero-unit-h1">Social Sites</h1>
  <div class="row">
    <div class="span7">
      {% for a in articles %}
        {% if a.category == "contact" %}
      <a class="social-media-icon" href="http://twitter.com/makaimc"><img src="/images/social/twitter.png" /></a>
      <a class="social-media-icon" href="http://github.com/makaimc"><img src="/images/social/github.png" /></a>
      <a class="social-media-icon" href="http://www.linkedin.com/in/matthewmakai"><img src="/images/social/linkedin.png"></a>
      <a class="social-media-icon" href="http://www.facebook.com/makaimc"><img src="/images/social/facebook.png" /></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
