<h1>Employer (Beginning in 2014)</h1>
<div class="row">
  <div class="span2">
    <a href="https://www.twilio.com/">
      <img class="thumbnail" src="/img/work/twilio-logo-white-bg.png" alt="Twilio logo" />
    </a>
  </div>
</div>

<br/>

<h1>Side Projects</h1>
<div class="row">
  <div class="span2">
    <a href="http://www.codingacrossamerica.com/">
      <img class="thumbnail" src="/img/work/cam-logo.png" alt="Coding Across America 2013" />
    </a>
  </div>
  <div class="span2">
      <a href="http://www.fullstackpython.com/">
        <img class="thumbnail" src="/img/work/full-stack-python-logo.png" alt="Full Stack Python" />
      </a>
  </div>
</div>
<br/>


<h1>Previous Employers</h1>
<div class="row">
  <div class="span2">
    <a href="http://www.excella.com/">
      <img class="thumbnail" src="/img/work/excella.png" alt="Excella Consulting" />
    </a>
  </div>
  <div class="span2">
    <a href="http://www.sapient.com/">
      <img class="thumbnail" src="/img/work/sapient.jpg" alt="Sapient logo" />
    </a>
      </div>
  <div class="span2">
    <a href="http://www.boozallen.com/">
      <img class="thumbnail" src="/img/work/bah.png" alt="Booz Allen Hamilton logo" />
    </a>
  </div>
  <div class="span2">
    <a href="http://www.freddiemac.com/">
      <img class="thumbnail" src="/img/work/freddie-mac.png" alt="Freddie Mac logo" />
    </a>
  </div>
</div>

<br/>
<h1>Consulting Clients</h1>
<div class="row">
    <div class="span4">
        <strong>Commercial & Non-Profit</strong>
        <br/>
        <a href="http://www.fool.com/">The Motley Fool</a>
        <br/>
        <a href="http://www.marriott.com/">Marriott International</a>
        <br/>
        <a href="http://www.nti.org/">The Nuclear Threat Initiative</a>
        <br/>
        <a href="http://www.gwu.edu/">George Washington University</a>
        <br/>
        <a href="http://www.piaa.us/">Physician Insurers Association of America</a>
    </div>

    <div class="span4">
        <strong>Federal</strong>
        <br/>
        <a href="http://www.defense.gov">Department of Defense</a>
        <br/>
        <a href="http://www.fbi.gov">Federal Bureau of Investigation</a>
        <br/>
        <a href="http://www.consumerfinance.gov/">Consumer Financial Protection Bureau</a>
    </div>
</div>

