<h1>My Work</h1>
<div class="row">
  <div class="span2">
    <a href="http://www.excella.com/">
      <img class="thumbnail" src="/img/work/excella.png" alt="Excella Consulting" width="176" height="128" />
    </a>
  </div>
  <div class="span2">
    <a href="http://www.proofdriven.com/">
      <img class="thumbnail" src="/img/work/proofdriven.jpg" alt="ProofDriven.com" width="176" height="128" />
    </a>
  </div>
  <div class="span2">
    <a href="http://www.visualizationportfolio.com/">
      <img class="thumbnail" src="/img/work/visualization-portfolio-logo.png" alt="Visualization Portfolio dot com" width="176" height="128" />
    </a>
  </div>
</div>

<br/>

<h1>Previous Employers</h1>
<div class="row">
  <div class="span2">
    <a href="http://www.sapient.com/">
      <img class="thumbnail" src="/img/work/sapient.jpg" alt="Sapient logo" />
    </a>
      </div>
      <div class="span2">
    <a href="http://www.boozallen.com/">
      <img class="thumbnail" src="/img/work/bah.png" alt="Booz Allen Hamilton logo" />
    </a>
      </div>
      <div class="span2">
    <a href="http://www.freddiemac.com/">
      <img class="thumbnail" src="/img/work/freddie-mac.png" alt="Freddie Mac logo" />
    </a>
  </div>
</div>
