body { font-family: Helvetica, sans-serif; background: black  url('/img/grid-18px.png') repeat; font-size: 16px;}
.topbar div>ul li {margin-left: 11px;}
.sub-header {background-color: hsla(218, 100%, 67%, .6); margin-top: 40px;
             padding: 20px 0 20px 0; border-top: 1px solid white;
             height: 165px;}
div.blog-sidebar-section {margin-top: 100px; padding: 0 10px 0 10px;}
.blog-sidebar {font-size: 1em;}
.hero-unit {margin-top: -500px; padding: 30px 0px 20px 40px;}
h1.hero-unit-h1 {font-size: 2.5em; margin: 20px 0 25px 0;}
h1.previous-work-h1 {margin-top: 40px;}

/* Landing page */
div.sign-up-section {padding-left: 20px;}
div.first-posts-row {margin-bottom: 20px;}
div.landing-post {background: white; padding: 30px 35px 20px 35px; 
                  -webkit-border-radius:6px;
                  -moz-border-radius:6px; border-radius:6px;
                  border: 1px solid #888; height: 145px; margin: 0 20px 0 0;}
a.post-title {font-size: 1.2em;font-weight:bold;}
div.landing-page-post-text p {font-size: .85em; line-height: 110%;  
                              margin-top: 10px;}
div.end-blog-posts-landing-page {padding-bottom: 30px;}

/* Blog styles */
h1.blog-title {font-size: 1.5em; margin-bottom: 10px;}
li.posts-at-a-glance {font-size: .75em; margin-bottom: 5px; line-height: 100%;}
div.post {margin-bottom: 20px; background: white; padding: 25px;
          -webkit-border-radius:6px;-moz-border-radius:6px;
          border-radius:6px; border: 1px solid #888;}
div.blog-content {margin-top: 10px; color: black; font-family: Helvetica;
                  font-size: 1em; line-height: 140%;}
li.about-matt-makai {margin-left: 10px; color: #222;}
.meta {font-size: .75em; color: #444; margin-top: 15px; text-align: right;}
.blog-content ol li, .blog-content ul li {color: black; margin-left: 20px;
                                          margin-bottom: 8px;}
.blog-content br {padding: 25px 0 25px 0;}
.blog-content p {font-size: 1em; font-weight: normal; line-height: 140%;}
.no-left-margin {margin-left: 0px;}
.about-text {font-size: .7em; font-weight: bold;}
div.newsletter-signup {padding: 30px 0 0 0; border-bottom: 1px dashed #AAA;
                       border-top: 1px dashed #AAA; margin: 0 20px 20px 0;}
div.newsletter-signup-text p {font-size: .8em; margin-top: 5px; 
                              line-height: 110%;}
h4.newsletter-signup {font-size: 1em; margin-bottom: 0px; line-height: 110%;}
div.follow-on-twitter {padding: 25px 0 10px 0;}
div.contact-sections-divider {padding-top: 40px;}
a.social-media-icon {margin-right: 15px;}

/* Thanks page */
div.end-thanks-page {padding-bottom: 10px;}
